<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="container">
      <div class="header d-flex justify-content-between align-items-center py-4">
        <a href="#" class="fw-bold fs-1 ">WOWOROOM</a>
        <ul class="nav gap-3">
          <li><a href="#">床墊優勢</a></li>
          <li><a href="#">好評推薦</a></li>
          <li><a href="#">立即預訂</a></li>
          <li><a href="#">運送方式</a></li>
        </ul>
      </div>
    </div>
   

    <%- contents %>

    <footer class="footer">
     
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    
  </body>

</html>